<%= form_with model: task,  class: 'mb-5' do | f | %>
  <div class="my-1">
    <%= f.text_field :description,
                 placeholder: "添加任务",
                 class:
                   "rounded-full pl-5 py-1 border-2 border-gray-300 focus:border-pink-500" %>
    <%= f.submit "保存",
             class:
               "btn  border-2 border-blue-500 py-1 px-3 ml-2 bg-blue-500 hover:bg-blue-300 rounded-full text-white" %>
  </div>

<% end %>
